.buttoncontainer button{
    background-color: #003566;
    height: 30px;
    width: 100px;
    border: none;
    color: white;
    margin-top: 6px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
    font-size: 15px;
}

.NavContainer{
    
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.NavContainer h2{
    position: relative;
    left: 650px;
}

.NavContainer button{
    margin-inline: 10px;
}